<div class="container">

  <%if @users %>
    <% @users.each do |user|%>
    <%= user.name %><br>
    <% end %>
  <% else %>
    <h2>Welcome</h2>
  <%end%>
</div>

  <%# TODO:
  1. If user is not signed in - display "Welcome".
  2. If user is signed in then  display all users %>
